.form {
    padding: 2em;
}

.form__button-field {
    outline: none;
    margin: 0 auto;
    width: 100%;
}

.form__header {
    margin-bottom: 2em;
}

@media (min-width: 600px) {
    .form {
        position: sticky;
        top: 0;
        left: 0;
    }
}