.form__input {
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.form__input:focus-within {
    border: 1px solid aquamarine;
    outline: 1px solid aquamarine;
}

.form__input--error {
    border: 1px solid tomato;
}